user www-data;
worker_processes auto;
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {
	worker_connections 768;
	# multi_accept on;
}

http {

	##
	# Basic Settings
	##

	sendfile on;
	tcp_nopush on;
	types_hash_max_size 2048;
	# server_tokens off;

	# server_names_hash_bucket_size 64;
	# server_name_in_redirect off;

	include /etc/nginx/mime.types;
	default_type application/octet-stream;

	##
	# SSL Settings
	##

	ssl_protocols TLSv1 TLSv1.1 TLSv1.2 TLSv1.3; # Dropping SSLv3, ref: POODLE
	ssl_prefer_server_ciphers on;

	##
	# Logging Settings
	##

	access_log /var/log/nginx/access.log;
	error_log /var/log/nginx/error.log;

	##
	# Gzip Settings
	##

	gzip on;

	# gzip_vary on;
	# gzip_proxied any;
	# gzip_comp_level 6;
	# gzip_buffers 16 8k;
	# gzip_http_version 1.1;
	# gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;

	##
	# Virtual Host Configs
	##

	include /etc/nginx/conf.d/*.conf;
	# include /etc/nginx/sites-enabled/*; # not including separate files because we are using them here

    # begin site confs
        server {
            listen 80 default_server;
            listen [::]:80 default_server;

            server_name _;

            #client_max_body_size 0; # max upload size

            access_log /var/log/nginx/access-page.log;
            error_log /var/log/nginx/error-page.log;

            error_page    404 {{ page_404_location }};

            try_files $uri $uri.html $uri/index.html $uri/ =404;

            root {{ site_folder }}/public;

            port_in_redirect off;

            location / {
            
                try_files $uri $uri.html $uri/index.html $uri/ =404;

                port_in_redirect off;

                index index.html;
            
                expires {{ cache_expires }};
                add_header Cache-Control "public";

                # https://owasp.org/www-project-secure-headers/
                # https://deniszanin.com/configuracao-segura-dos-cabecalhos-no-nginx-http-headers/
                add_header X-Frame-Options SAMEORIGIN;
                # Prevent IE from 'mime-sniffing' a file and incorrectly inferring type.
                add_header X-Content-Type-Options nosniff;
                # Ensure the browser's XSS filter is enabled even if the user disabled it.
                add_header X-XSS-Protection "1; mode=block";
                add_header Referrer-Policy "strict-origin" always;
                # hsts
                # add_header Strict-Transport-Security "max-age=31536000;preload" always;

            }

        }


}
